<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BARcode.mycarpooling"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.BARcode.mycarpooling.MainActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity1"
            android:label="@string/title_activity_sign_up_activity1"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.BARcode.mycarpooling.MainActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity2"
            android:label="@string/title_activity_sign_up_activity2"
            android:parentActivityName=".SignUpActivity1" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.BARcode.mycarpooling.SignUpActivity1" />
        </activity>

        <activity
            android:name=".ChooseRole"
            android:label="@string/title_activity_choose_role" >
        </activity>
        
        <activity
            android:name=".Passenger"
            android:label="@string/title_activity_passenger" >
        </activity>
        
        <activity
            android:name=".Driver"
            android:label="@string/title_activity_driver"
            android:parentActivityName=".ChooseRole" >
        </activity>
        
        <activity
            android:name=".AddCar"
            android:label="@string/title_activity_add_car"
            android:parentActivityName=".Driver" >
        </activity>
        
        <activity
            android:name=".AddCarpool"
            android:label="@string/title_activity_add_carpool"
            android:parentActivityName=".Driver" >
        </activity>
        
        <activity
            android:name=".AddCarpool2"
            android:label="@string/title_activity_add_carpool2"
            android:parentActivityName=".AddCarpool"  >
        </activity>
    </application>

</manifest>
